.header{
    font-family:'Raleway', sans-serif;
    font-size: 1.5rem;
}
.header__logo{
    width: 70px;
    height: 70px;
    @media only screen and (max-width:480px) { 
        width:2rem;
        height:2.5rem;
    }
}
.header__boton{
    background-color: #386150 !important;
    border-color: #386150 !important;
}
.bloque-carrucel{
    margin: 1.875rem 0rem;
}
.bloque-carrucel__tamanio{
    width:60%;
}
/*@media only screen and (max-width:480px) {
        .centrarIconos{
        display: flex;
        justify-content: center;
        width:2rem;
        height:2rem;
    }
}*/

/*.footer{
    background-color: #386150 !important;
    border-color: #58B09C !important;
}*/
.formulario{
    margin: 30px 0px;
}
.formulario__boton{
    background-color: #386150 !important;
    border-color: #58B09C !important;
}
.formulario__elemento{
    border-color: #386150 !important;
    background-color: #58B09C !important;
}
.informacion{
    border: 3px solid #386150;
    padding: 30px 0px;
    margin: 30px 0px ;
}
.informacion__negrita{
    font-weight: bold;
    margin-top: 20px;
}
#background{
background-color:#F5FBFA;
}
h1{
    color: #386150;
}
/*.fondo{
    background-color: #30CA82;
}*/
$bloques: (
    imagen: #58B09C,
    texto: #30CA82
);
@each $bloque, $color in $bloques {
    .fila--#{$bloque}{
    background-color: $color;
    }
}
@for $numero from 1 through 3 {
    .fuente-#{$numero}{font-size: 4rem-$numero;}
}
.adaptacion{
    width: 100%;
}
.parrafo{
padding: 1rem 0rem;
}
footer{
    width: 100%;
    background-color: #386150;
    position: absolute;
    bottom: 0;
}
.pie{
    color: #386150;
}
.centrarIconos{
    display: flex;
    justify-content:center;
}
.separar{
    padding-top: 5px;
}
.indicaciones{
    background-color: #386150 ;
    padding: 0 !important;
}
body{
    position: relative;
    min-height: 100vh;
    padding-bottom: 2rem;
}
.contenedorCartas{
    padding-bottom: 40px ;
}
.carta{
    padding-bottom: 2rem;
}
.texto-derecha{
    text-align: center;
}
.preguntas{
    padding: 1rem 2rem;
}
ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    list-style-type: none;
    flex-wrap: wrap;
    padding: 0;
}
.rectangulo{
    display: flex;
    overflow-x: auto;
}

.scroll {
    overflow-x: auto;
}
.table-padding{
    padding: 2rem 2rem 1rem;
}